numpy
scipy
sympy
pandas
matplotlib
seaborn
plotly
bokeh
yfinance
fredapi
Quandl
intrinio-sdk
statsmodels
scikit-learn
graphviz
ipykernel
jupyterlab
SQLAlchemy
openpyxl
pygooglenews
nltk 
textblob
vaderSentiment
beautifulsoup4
Scrapy3
tensorflow
pandas-datareader